/* Ids */
#listed {
  font-family: iosevka-etoile-regular;
  font-size: 14;
  margin-left: 50px;
  margin-right: 20px;
}
#project {
  font-family: iosevka-etoile-regular;
  font-size: 40;
  margin-left: 0px;
}
#company {
  font-family: iosevka-curly-slab-regular;
  margin-left: 10px;
  font-size: 20;
}
#linked {
  font-family: iosevka-etoile-regular;
  font-size: 12;
  /* margin-top: -10px; */
  margin-left: 20px;
  margin-right: 20px;
}

#title {
  font-family: iosevka-etoile-regular;
  font-size: 100;
  margin-top: 10px;
  margin-left: 40px;
}

#subtitle {
  font-family: iosevka-etoile-light;
  font-size: 20;
  text-align: right;
  margin-top: 20px;
  margin-left: 40px;
}

#sectionTitle {
  font-family: iosevka-etoile-regular;
  font-size: 40;
  margin-left: 40px;
  margin-top: -60px;
}

#podcastTitle {
  font-family: iosevka-etoile-regular;
  font-size: 40;
  text-align: center;
  margin: auto;
  /* margin-left: 40px; */
  /* margin-top: -60px; */
}

#pizzaSectionTitle {
  font-family: iosevka-etoile-regular;
  font-size: 40;
  margin-left: 40px;
  margin-top: 40px;
}

#pizzaListed {
  font-family: iosevka-etoile-regular;
  font-size: 14;
  margin-left: 20%;
  margin-right: 20%;
}

#readingListed {
  font-family: iosevka-etoile-regular;
  font-size: 14;
  margin-left: 20%;
  margin-right: 80%;
}

#pods {
  font-family: iosevka-semibold;
  font-size: 18;
  margin: auto;
  list-style-type: none;

  text-align: center;
  /* margin-left: 10px; */
  margin-left: 20%;
  margin-right: 80%;

  /* margin-left: 20%; */
  /* margin-right: 5%; */
}

.row {
  display: flex;
  margin-top: -50px;
}

.column {
  flex: 50%;
}

.section {
  margin-top: 70px;
}

.find {
  font-family: iosevka-etoile-regular;
  font-size: 40;
  margin-top: 70px;
  /* margin-left: 30%;
    margin-right: 30%; */
  text-align: center;
}

.located {
  font-family: iosevka-etoile-regular;
  font-size: 16;
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.rowLoc {
  display: flex;
}

.columnLoc {
  flex: 25%;
}

/*Margins */
div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  /* margin-left: 0px; */
}

/*Fonts */

@font-face {
  font-family: iosevka-etoile-regular;
  src: url("fonts/iosevka-etoile-regular.ttc");
}
@font-face {
  font-family: iosevka-regular;
  src: url("fonts/iosevka-regular.ttc");
}

@font-face {
  font-family: iosevka-etoile-heavy;
  src: url("fonts/iosevka-etoile-heavy.ttc");
}

@font-face {
  font-family: iosevka-curly-slab-regular;
  src: url("fonts/iosevka-curly-slab-regular.ttc");
}

@font-face {
  font-family: iosevka-curly-slab-light;
  src: url("fonts/iosevka-curly-slab-light.ttc");
}

@font-face {
  font-family: iosevka-etoile-extralight;
  src: url("fonts/iosevka-etoile-extralight.ttc");
}
